.features {
  padding-top: 91px;
  padding-bottom: 94px;

  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features__list {
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    max-width: 354px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px) / 4);
  }
}

// .features__item:last-child {
//   margin-right: 0;
// }

.features__thumb {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--team-color);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
